
:root {
    --background-body: #293146;
    --border-color: #642D39;
    --background-call-out: #344254;
    --text-color: #ffffff;
    font-family: 'Martian Mono', monospace;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

body {
    animation: fadeIn 0.75s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
}

.description p {
    margin: 5px 0;
    line-height: 1.35;
}

.data-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.initial-state-block, .current-signals-block {
    border: 3px solid var(--border-color);
    padding: 10px 10px 0 10px;

    background-color: var(--background-call-out);

}

.initial-state-block{
    margin: 0 5px 0 0;
    flex: 2;
}

.current-signals-block {
    margin: 0 5px;
}

.current-signals-block {
    flex: 3;
}
.key-metrics-block {
    flex: 2;
}

.chart-header {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

table {
    border: 1px solid #ffffff;
    border-collapse: collapse;
    margin: 12px 0;
    width: 100%;
}

th {
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 5px 0;

}

td, tr {
    border-right: 1px solid #ffffff;
    border-collapse: collapse;
    font-size: 14px;
    padding: 10px 0;

    text-align: center; /* Centers text horizontally */
    vertical-align: middle; /* Centers content vertically */
}

.current-signals-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    list-style: none;
    margin: 12px 0;

}

div.current-signal-badge {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    background-color: tomato;
}

p {
    padding: 1px 0;
}


.current-signal-badge p {
    margin: 2px;
    font-size: 12px;
}

p.current-signal-status {
    font-size: 14px;
    color: #ffffff;
    text-shadow:
    -1px -1px 0 #000000, /* Top-left shadow */
     1px -1px 0 #000000, /* Top-right shadow */
    -1px  1px 0 #000000, /* Bottom-left shadow */
     1px  1px 0 #000000; /* Bottom-right shadow */
}

p.current-signal-badge-header {
    font-size: 18px;
}

.key-metrics-block {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5px;
}

.portfolio-statistics, .signal-distribution, .risk-metrics {
    flex: 1;
    background: var(--background-call-out);
    border: 2px solid var(--border-color);

}
.portfolio-statistics {
    margin: 0 0 5px 0;
}

.key-metrics-section-header {
    margin:0;
    padding: 10px 10px;
    font-size: 18px;

    border-bottom: 1px solid #ffffff;
}

.signal-distribution {
    margin: 5px 0;
}

.risk-metrics {
    margin: 5px 0 0 0;
}

.key-metrics-block p {
    padding: 0 0 0 10px;
}

p.key-metrics-section-header {
    margin:0;
    padding: 10px 10px;
    font-size: 24px;
    font-weight: 600;

    border-bottom: 1px solid #ffffff;
}

svg.bar-signal-distribution {
    margin: 10px 0 0 0;
}




#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    top: -60;
    width: 150px;
    margin-top: 120px;
    transform: translateX(-150px);
    transition: transform 250ms ease-in-out;
    background: var(--background-call-out);
    border-right: 1px solid var(--border-color);
    z-index: 10;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid var(--border-color);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    opacity: 50%;
}

.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    
}

.sidebarMenuInner li:hover {
    background-color: rgba(255, 255, 255, 0.20);
    opacity: 100%;
    transition: 350ms ease-in-out;
}

#active {
    opacity: 100%;
    background-color:rgba(255, 255, 255, 0.10);
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
