
:root {
    --background-body: #293146;
    --text-color: #ffffff;
    font-family: 'Martian Mono', monospace;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

body {
    font-family: 'Martian Mono', monospace;
    width: 1500px;
    min-height:100vh;
    margin: 0 auto;
    background-color: var(--background-body);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: var(--text-color)
}

/*header styles*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header-title {
    margin: 0;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}


/* footer styling */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.footer-data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 10px;

    font-size: 12px;
    font-weight: 100;
}
