
:root {
    --background-body: #293146;
    font-family: 'Martian Mono', monospace;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}


body {
    font-family: 'Martian Mono', monospace;
    width: 1500px;
    min-height:100vh;
    margin: 0 auto;
    background-color: var(--background-body);
}

/*header styles*/
.header {
    /* height: 10%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title {
    margin: 0;
    color: white;
    font-size: 64px;
    font-weight: 400;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
}
.description p {
    margin: 5px 0;
}

.position-call-out {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #344254;
    border: 3px solid #642D39;
    margin-top: 10px;
    
}

.pair-call-out {
    font-size: 36px;
    color: white;
    margin: 0;
}
.pair-action {
    font-size: 30px;
    color: white;
    margin: 0;
}
.pair-z-score {
    font-size: 30px;
    color: white;
    margin: 0;
}

